<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="sql-login-middleware-wrap">
            <div class="sql-login-middleware-register-wrap">
                <a href="<%= rootUrl %>/register">Register</a>                
            </div>
            <form method="POST" action="<%= rootUrl %>/login">
                <div>
                    <label>Email:</label>
                    <input type="text" name="email" />
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" name="password" />
                </div>
                <% if( typeof(errorMessage) !== 'undefined' ){ %>
                    <div class="sql-login-error">
                        <%= errorMessage %>
                    </div>
                <% } %>
                <input type="submit" />
                <div class="sql-login-middleware-forgot-password-wrap">
                    <a href="<%= rootUrl %>/password-reset">Reset Password</a>
                </div>
            </form>
        </div>
    </body>
</html>