<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            // Validate email
            function validateEmail(email){ 
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if(re.test(email)){
                    document.getElementById('email').style.background ='#ccffcc';
                    document.getElementById('emailError').style.display = "none";
                    return true;
                }else{
                    document.getElementById('email').style.background ='#e35152';
                    return false;
                }
            }
            function validateForm(){
                // Set error catcher
                var error = 0;
                // Validate email
                if(!validateEmail(document.getElementById('email').value)){
                    document.getElementById('emailError').style.display = "block";
                    error++;
                }
                // Don't submit form if there are errors
                if(error > 0){
                    return false;
                }
            }     
        </script>
        <%= header %>
        <%= userHeader %>
    </head>
    <body>
        <%= bodyTop %>
        <div class="sql-login-middleware-wrap">
            <div class="sql-login-middleware-inner-wrap">
                <form class="sql-user-auth-form sql-user-auth-register" method="POST" onsubmit="return validateForm()" action="<%= rootUrl %>/login">
                    <div class="sql-user-auth-input-wrap">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" onblur="validateEmail(value)" />
                        <span class="sql-user-auth-error" id="emailError" style="display: none;">You must enter a valid email address</span>
                    </div>
                    <div class="sql-user-auth-input-wrap">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" onblur="validatePassword(value)" />
                        <span class="sql-user-auth-error" id="passwordErrror" style="display: none;">Password must be at least 8 characters and contain a special character</span>
                    </div>
                    <input type="submit" id="submit" name="submit" value="Submit" />
                    <% if( typeof(errorMessage) !== 'undefined' ){ %>
                        <div class="sql-user-auth-error sql-user-auth-submit-error">
                            <%= errorMessage %>
                        </div>
                    <% } %>
                    <div class="sql-login-middleware-login-wrap">
                        <a href="<%= rootUrl %>/register">Register</a>                
                    </div>
                    <div class="sql-login-middleware-forgot-password-wrap">
                        <a href="<%= rootUrl %>/password-reset">Forgot password?</a>
                    </div>
                </form>
            </div>
        </div>
        <%= bodyBottom %>
    </body>
</html>