<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Message</title>
        <%= header %>
        <%= userHeader %>
    </head>
    <body>
        <%= bodyTop %>
        <div class="sql-login-middleware-wrap">
            <div class="sql-login-middleware-inner-wrap">
                <div class="sql-login-middleware-wrap">
                    <div class="sql-login-middleware-inner-wrap">
                        <div class="sql-user-auth-message-wrap">
                            <div class="sql-user-auth-message">
                                <%= message %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= bodyBottom %>
    </body>
</html>