<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="sql-login-middleware-wrap">
            <form method="POST" action="<%= rootUrl %>/register">
                <label>Email:</label>
                <input type="text" name="email" />
                <label>Username:</label>
                <input type="text" name="username" />
                <label>Password:</label>
                <input type="password" name="password" />
                <input type="submit" />
            </form>
        </div>
    </body>
</html>