<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Resend Confirmation</title>
        <%= header %>
        <%= userHeader %>
    </head>
    <body>
        <%= bodyTop %>
        <div class="sql-login-middleware-wrap">
            <div class="sql-login-middleware-inner-wrap">
                <form class="sql-user-auth-form sql-user-auth-register" method="POST" action="<%= rootUrl %>/confirm-resend">
                    <% if( typeof(errorMessage) !== 'undefined' ){ %>
                        <div class="sql-user-auth-error">
                            <%= errorMessage %>
                        </div>
                    <% } %>
                    <div>
                        <input type="submit" id="submit" name="submit" value="Resend Confirmation" />
                    </div>
                </form>
            </div>
        </div>
        <%= bodyBottom %>
    </body>
</html>