<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Reset</title>
        <script>
            function validatePassword(password){
                var re = /^(?=.*[A-Za-z])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/;
                if( re.test(password) ){
                    document.getElementById('password').style.background ='#ccffcc';
                    document.getElementById('passwordErrror').style.display = "none";
                    return true;
                } else {
                    document.getElementById('password').style.background ='#e35152';
                    document.getElementById('passwordErrror').style.display = "block";
                    return false;
                }
            }
            function validateConfirmPassword(){
                var password1 = document.getElementById('password').value;
                var password2 = document.getElementById('confirmPassword').value;
                if( password1 === password2 ){
                    document.getElementById('confirmPassword').style.background ='#ccffcc';
                    document.getElementById('confirmPasswordErrror').style.display = "none";
                    return true;
                } else {
                    document.getElementById('confirmPassword').style.background ='#e35152';
                    document.getElementById('confirmPasswordErrror').style.display = "block";
                    return false;
                }
            }   
            function validateForm(){
                // Set error catcher
                var error = 0;
                if(!validatePassword(document.getElementById('password').value)){
                    error++;
                }
                if(!validateConfirmPassword()){
                    error++;
                }
                // Don't submit form if there are errors
                if(error > 0){
                    return false;
                }
            }     
        </script>
        <%= header %>
        <%= userHeader %>
    </head>
    <body>
        <%= bodyTop %>
        <div class="sql-login-middleware-wrap">
            <div class="sql-login-middleware-inner-wrap">
                <form class="sql-user-auth-form sql-user-auth-register" method="POST" onsubmit="return validateForm()" action="<%= rootUrl %>/password-reset-claim">
                    <div class="sql-user-auth-input-wrap">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" onblur="validatePassword(value)" />
                        <span class="sql-user-auth-error" id="passwordErrror" style="display: none;">Password must be at least 8 characters and contain a special character</span>
                    </div>
                    <div class="sql-user-auth-input-wrap">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" onblur="validateConfirmPassword()" />
                        <span class="sql-user-auth-error" id="confirmPasswordErrror" style="display: none;">Password fields do not match</span>
                    </div>
                    <input type="hidden" name="userId" value="<%= userId %>" />
                    <input type="hidden" name="resetCode" value="<%= resetCode %>" />
                    <div>
                        <input type="submit" id="submit" name="submit" value="Submit" />
                    </div>
                    <% if( typeof(errorMessage) !== 'undefined' ){ %>
                        <div class="sql-user-auth-error sql-user-auth-submit-error">
                            <%= errorMessage %>
                        </div>
                    <% } %>
                </form>
            </div>
        </div>
        <%= bodyBottom %>
    </body>
</html>